<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1637">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h3 class="cs-h3">
                Requirements
                </h3>
                <p class="cs-text">
                    Applicants must have minimum a 5-year academic degree which is equivalent to Bachelor of Engineering (B.E.) or Master of Science (M.Sc.) degrees. Bachelor of Science (B.Sc.) degrees that are 3 academic years do not qualify for the program. This is a must so the degree can also be recognized in Germany.
                </p>
                <!-- <a href="" class="cs-button-solid">Learn More</a> -->
            </div>
            <div class="cs-flex">
                <img src="assets/man-thinking.png">
                <!-- Replace with Image -->
                <!-- <span class="cs-topper">Requirements</span>
                <h2 class="cs-title">Applicants must have minimum a 5-year academic degree which is equivalent to Bachelor of Engineering (B.E.) or Master of Science (M.Sc.) degrees. Bachelor of Science (B.Sc.) degrees that are 3 academic years do not qualify for the program. This is a must so the degree can also be recognized in Germany.</h2> -->
            </div>
            
        </div>  
    </div>
</section>
                                