<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ABOUT US</span>
            <h2 class="cs-title">German Academic Development Center</h2>
            <p class="cs-text">
                A center and non-profit program for preparing qualified Lebanese engineers to match the requirements of the German engineering job market, and for helping them start a new career in Germany. A joint program of GADC, RWTH Aachen University and the Sprachenakademie in Aachen in coordination with the German Embassy in Beirut, the Chamber of Engineers in the State of Baden-Württemberg and the Oder of Engineers and Architects in Beirut, Lebanon.
            </p>
        </div>
    </div>
</section>
                                